[server]
# username for running the daemon
username = electrum
# hostname. set it to a FQDN in order to be reached from outside
host = electrum-pkb.org
# ports
electrum_rpc_port = 8000
stratum_tcp_port = 50001
#stratum_tcp_ssl_port = 50002
#report_host = 
#report_stratum_tcp_port = 50001
#report_stratum_tcp_ssl_port = 50002
banner = Welcome to the ParkByte Electrum Server!
banner_file = /etc/electrum-pkb.banner
irc = yes
irc_nick = pkbsrv
#ssl_certfile = /path/to/electrum-server.crt
#ssl_keyfile = /path/to/electrum-server.key
logfile = /var/log/electrum-pkb.log
donation_address = PERu7znBafHURsxR749mQ2Teu6E8j95mct

[leveldb]
# path to your database
path = /var/www/html
# for each address, history will be pruned if it is longer than this limit
pruning_limit = 10000

[bitcoind]
bitcoind_host = localhost
bitcoind_port = 59060
# user and password from parkbyte.conf
bitcoind_user = test
bitcoind_password = password
